<%= form_for( @painting, :html => {:multipart => true, :class => "uk-form"}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>

  <p>
    <%= f.label :intended_use %>
    <%= f.text_field :intended_use %>
  </p>

  <%= hidden_field_tag 'upload' %>

  <% if nil == session[:user_id] %>
    <%= f.submit :data => {:confirm => 'Are you sure you would like to post this without creating an account?'} %>
  <% else %>
    <%= f.submit :class => 'uk-button', :id => 'go' %>
  <% end %>
<% end %>
