<%= form_for( @painting, :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>

  <p>
    <%= f.label :intended_use %>
    <%= f.text_field :intended_use %>
  </p>

  <%= hidden_field_tag 'upload' %>

  <%= f.submit :id => 'go' %>
<% end %>
