<div class="uk-block uk-block uk-width-1-1">
<h1 class="uk-margin-large-left"><%= @painting.title %></h1>
<h2><em><%= link_to @painting.user.name, @painting.user if @painting.user %></em></h2>
</div>

<%= cl_image_tag(@painting.image) %>


<div class="controls">
  <%= link_to 'Edit painting', edit_painting_path(@painting) %>
  <%= link_to 'Delete painting', @painting, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
