<div class="uk-grid uk-margin-large-top uk-margin-large-left">
  <div class="uk-width-1-2 uk-block-muted">

  <h1 class="uk-margin-large-top"><%= @painting.title %></h1>
  <h2>By:<em> <%= link_to @painting.user.name, @painting.user if @painting.user %></em></h2>

  <h2><em>
    <% @painting.favorites.each do |p| %>
    <p class="uk-text-small"><%= p.user.name %> liked this at <%= p.created_at %></p>
    <% end %>
  </em></h2>

<div class="controls">
  <button class="uk-button"><%= link_to "Download", cl_image_path(@painting.image), :download => "download.jpg" %></button>

  <% if @painting.user_id == @current_user.id %>
      <button class="uk-button"><%= link_to 'Edit painting', edit_painting_path(@painting) %></button>
      <button class="uk-button"><%= link_to 'Delete painting', @painting, :method => 'delete', :data => {:confirm => 'Are you sure?'} %></button>
  <% end %>
</div>
<br>

  <% if @current_user.favorites.where(:painting_id => @painting.id).any? %>
    <%= form_tag(favorites_path, method: "delete") do %>
      <%= hidden_field_tag :painting_id, @painting.id %>
      <%= submit_tag "Unfavorite"%>
    <% end %>

  <% else %>
  <%= form_tag(favorites_path, method: "post") do %>
    <%= hidden_field_tag :painting_id, @painting.id %>
    <%= submit_tag "Favorite"%>
  <% end %>
  <% end %>

</div>

  <div class="uk-width-1-2">
    <%= cl_image_tag(@painting.image) %>
  </div>
</div>
