<div class="uk-block uk-block uk-width-1-1 uk-margin-large-left">

  <h1>Edit profile</h1>
  <%= form_for(@user, :html=> { :multipart => true }) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label "User image:" %>
      <%= f.cl_image_upload :name %>
    </p>

    <%= f.submit 'Save changes' %>
  <% end %>

</div>
