<div class="uk-block uk-block uk-width-1-1 uk-margin-large-left">

  <h1 class="">Edit profile</h1>
  <%= form_for @user do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :image %>
      <%= f.url_field :image %>
    </p>

    <%= f.submit %>
  <% end %>
  
</div>
