<div class="uk-block uk-block uk-width-1-1">
<h1 class="uk-margin-large-left">Sign up</h1></div>

<div class="uk-block-muted">
<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= 'msg' %></li>
    <% end %>
  </ol>
<% end %>

<p>
<%= form_for @user do |f| %>
 <%= f.label :email %>
 <%= f.email_field :email %>
</p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
</div>


  <%= f.submit 'Sign up!', class: 'uk-button' %>
 <% end %>
