<div class="uk-block uk-block uk-width-1-1 uk-margin-large-left">
<h1><%= @user.name%></h1>

<div class="uk-grid">
    <div class="uk-width-medium-1-3">
        <div class="uk-panel-box">
      <%= cl_image_tag(@user.image) %>
       <!-- <img src="<%= @user.image %>" class"profile"/> -->
      </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="uk-panel-box">
          <p>New painting:</p>
          <%= link_to 'Create new', new_painting_path, class: 'uk-button'%>
        </div>
    </div>
    <div class="uk-width-medium-1-3">
        <div class="uk-panel-box">
          <p>Edit Profile:</p>
        <%= link_to 'Edit profile', edit_user_path, class: 'uk-button'%>
      </div>
    </div>
</div>

<h3><%= @user.name%>'s Gallery</h3>
<% @user.paintings.each do |painting| %>
<div class="uk-position-relative uk-width-1-2 uk-margin-large">
  <img><%= link_to image_tag(painting.image), painting %></img>
  <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle"><h3><%= link_to painting.title, painting %></h3></div>
</div>

<% end %>

</div>
