
<div class="uk-block uk-block uk-width-1-1">
  <% if @current_user.present? %>
  <h5 class='uk-margin-large-left'>Hello <%= @current_user.name%></h5>
  <% else %>
  <h4>Hello, please <%= link_to 'login', login_path %> or <%= link_to 'get started', new_painting_path %> right away!</h4>
  <% end %>
</div>

<h1 class="uk-margin-large-left">All user paintings</h1>

<% @paintings.each do |painting| %>
  <ul>
    <div class="uk-position-relative uk-width-1-2 uk-margin-large">
    <img><%= image_tag painting.image%></img>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle"><h3><%= link_to painting.title, painting %></h3></div>
    </div>
  </ul>
<% end %>

</div>
